@model KobonAdmin.Models.RequestForGiftCard

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RequestForGiftCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliverEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliverEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiftCardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftCardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
